body{
	background-color: rgba(200, 200, 200, 0.75);
}

#head{
	background-image: url(NorthCampus.jpg);
	background-size: cover;
	background-position: center;
	margin: -1% -1% 0% -1%;
	height: 60px
}
nav {
	background-color: rgba(0, 0, 255, 0.3);
	padding: 1px 1px 1px 1px;
	height: 59px;
}

ol.navbar li {
	background-color: white;
	border-radius: 9px 9px 9px 9px;
	color: white;
	margin: 2px;
	padding: 2px 2px 2px 2px;
	display: inline;
}

ol.navbar a{
	border-radius: 9px 9px 9px 9px;
	color: blue;
	text-decoration: none;
}

ol.navbar a:hover{
	background-color: Blue;
	color: white;
}

#h1 {
	display: block;
	border-radius: 22px;
	background-color: blue;
	text-align: center;
	font-size: 40px;
	font-family: perpetua;
	font-weight: bold;
	color: white;
}

.left{
	background-color: rgba(0, 0, 255, 0.75);
	color: white;
    float: left;
    padding: 1%;
	margin: 0% 0% 0% -1%;
    width: 10%;
	height: 110vh;
}

#main{
	background-color: rgba(200, 200, 200, 0.75);
    float: left;
    padding: 1%;
	margin: 0% 0% 0% 0%;
    width: 76%;
}

.right{
	background-color: rgba(0, 0, 255, 0.75);
	color: white;
	/**clear: right;**/
    float: right;
    padding: 1%;
	margin: 0% -1% 0% 0%;
    width: 10%;
	height: 110vh;
}

.homecontent{
	margin: 5% 8% 5% 8%;
}

.backcontent1{
	background-image: url(NorthCampus.jpg);
	background-size: cover;
	background-position: center;
	margin: -1.3% -1.3% -1% -1.3%;
}
.content1{
	background-color: rgba(200, 200, 200, 0.75);
    border: 1px ridge navy;
    border-radius: 50%;
    box-shadow: 10px 10px 5px #888888;
    margin: 5% 10% 5% 10%;
    padding: 10%;
}

p {
	font-family: perpetua;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

IMG{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
}

.footer{
	background-image: url(NiceBackground.jpg);
	margin: 0% -1.3% 0% -1.3%;
	padding: 1%;
	display: block;
	line-height: 100px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: perpetua;
	font-weight: bold;
	height: 100px;
}

